<!DOCTYPE html>
<html>
  <head>
    <title>FoodTrucking</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "View Dishes", dishes_path %> | <%= link_to "New Dish", new_dish_path %> | <a href="javascript:history.back()">Back</a>
    </nav>

    <%= yield %>

  </body>
</html>
